<extend file="/Wechat/View/Base/common.html" />

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="body">
    <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">
            <div class="">
                <h3><a href="__MODULE__/Article/detail">list.title</a></h3>
            </div>
            <div>
                <p class="lead">list.description</p>
            </div>
            <div>
                <span><a href="__MODULE__/Article/detail">查看全文</a></span>
                <span class="pull-right">
                    <span class="author">{ list.uid|get_username}</span>
                    <span>于 1992-05-31 </span> 发表在 <span>
                    <a href="__MODULE__/Article/lists">标题</a></span>
                    <span>阅读( 点速度速度速度速度 )</span>&nbsp;&nbsp;
                </span>
            </div>
            <hr/>
        </section>
    </div>
</block>
