<include file="/Wechat/View/Base/Public/mobile_head.html"/>
<body style="background:#fff">
<div class="container">
	<div class="appmsg_container">
    	<h6 class="appmsg_title">大标题</h6>
        <p class="appmsg_info"><span class="time">小标题</span> <span class="author">作者</span></p>
        <section class="appmsg_content">
                <p><img src=""/></p>
			文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章...
        </section>
		<p class="appmsg_foot"><a href="#">阅读原文</a></p>
    </div>
</div>
</html>
<script type="text/javascript">
$(function(){
	var imgArray = [];
	var img_base = "{SITE_URL}";
	$(".detail img").each(function(){	
	     var src = $(this).attr("src");
	     var key1 = src.indexOf('http') ;
		 var key2 = src.indexOf('Uploads/') ;
		 
		 if(key1=='-1' && key2>0){
			 src = img_base + src;
			 $(this).attr("src", src);
		 }
		 
		 imgArray.push( src );//数组,网页里面所有要查看大图的图片地址列表
	})
	console.log(imgArray);
	$(".detail img").bind("click",function(){
		var currentImg = $(this).attr("src");//当前图片的地址
		  if(typeof WeixinJSBridge !=="undefined"){
			WeixinJSBridge.invoke("imagePreview", {
			  current: currentImg,//查看的当前图片的地址
			  urls:imgArray,//数组,网页里面所有要查看大图的图片地址列表
			});
		   } 
	})	;
	$.WeiPHP.initWxShare({
		title:"{ info.title}",
		desc:'{ info.intro}',
		imgUrl:'',
		link:window.location.href
	})
});
</script>