<extend file="/Wechat/View/Base/common.html"/>
<block name="body">
    <div class="span9 page_message">
        <section id="contents">
            <include file="/Wechat/View/Material/_nav.html"/>
            <div class="tab-content">
                <!-- 表单 -->
                <form id="form" method="post" class="form-horizontal form-center">
                    <div class="form-item cf toggle-content">
                        <label class="item-label">
                            <span class="need_flag">*</span> 文本内容 <span class="check-tips">
                                </span></label>
                        <div class="controls">
                            <label class="textarea input-large">
                                <notempty name="content">
                                    <textarea name="content">{$content}</textarea>
                                <else />
                                    <textarea name="content"></textarea>
                                </notempty>
                            </label></div>
                        <br>
                    </div>
                    <input type="hidden" name="id" value="{$id}">
                    <notempty name="aid">
                        <input type="hidden" name="aid" value="{$aid}">
                    </notempty>
                </form>
            </div>
            <div class="form-item form_bh">
                <button class="btn submit-btn ajax-post" id="submit" type="button" >
                    <notempty name="aid">
                        修 改
                        <else />
                        添 加
                    </notempty>
                </button>
            </div>
        </section>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function () {
                $.post('__ACTION__',$("#form").serialize(),function (data) {
                    dazz.nav.tip(data['_msg']);
                });
            });
        });
    </script>
</block>
