<extend file="/Wechat/View/Base/common.html"/>
<block name="body">
  <div class="span9 page_message">
  
    <section id="contents"> <include file="/Home/View/Addons/_nav.html" />

      <!-- 数据列表 -->
      <div class="data-table" style="margin-top:20px;">
      
        <div class="table-striped">
        
            <div style="padding-bottom: 20px;padding-left: 15px;">
            <a class="btn" href="">新 增</a>
                <a class="btn" href="">一键上传素材到微信素材库</a>
                <a class="btn" href="">一键下载微信素材库到本地</a>
            </div>

        	<ul class="picture_list">
            	<li>
                	<div class="picture_item">
                        <div class="video_item">
                        	<p class="title ellipsis">{ vo.title}</p>
                            <p class="ctime colorless">{ vo.cTime|time_format}</p>
                            <div class="video_area">
                            	<video src="" controls="controls">您的浏览器不支持 video 标签。</video>
                            </div>
                             <p>{ vo.desc}</p>
                        </div>
                        <div class="picture_action">
                            <a href="">编辑</a>
                            <a href="javascript:;" onclick="">删除</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
      </div>
      <div class="page"> { _page|default=''} </div>
    </section>
  </div>
</block>
<block name="script"> 
<script type="text/javascript">

    var info = soya.utils.toObject('{$info}');
    console.log(info);
    soya.template.load(info);


    function del(id, _this){
	if(!confirm('确认删除？')) return false;
	$(_this).parent().parent().parent().remove();
	$.post("",{ d:id});
}
</script> 
</block>
