<include file="/Wechat/View/Base/Public/head"/>
<body style="background: #fff;">
<div class="empty_container"><p>您的视频素材库为空，<a href="">请先增加素材</a></p></div>
<div class="data_container">
    <ul class="picture_list">
        <li class="appmsg_li" data-id="{ vo.id}" style="overflow:hidden">
            <div class="picture_item">
                <div class="video_item">
                    <p class="title ellipsis">{ vo.title}</p>
                    <p class="ctime colorless">{ vo.cTime|time_format}</p>
                    <div class="video_area">
                        <video src="" controls="controls">您的浏览器不支持 video 标签。</video>
                    </div>
                    <p>{ vo.desc}</p>
                </div>
            </div>
        </li>
        <div class="hover_area"></div>
    </ul>
    <div class="page"> { _page|default=''}</div>
</div>
</body>
