<extend file="/Home/View/Base/no_side_common.html" />
<block name="body">
<div class="wrap">
<section id="contents">
  <div class="tab-content" style="margin:30px auto;"> 
      <!-- 基础文档模型 -->
      <div class="tab-pane in tab1" id="tab1">
        <div class="item_wrap">
          <h3 style="padding-bottom:30px; text-align:center">绑定扫码登录公众号</h3>
          <div class="form_body" id='scan_login'>
              <div class="input_panel">
                  <div id="qrCode"><img src="" /></div>
                  <p class="qr_time_tips">如未关注公众号，先关注即可绑定，绑定后就可以直接扫码登录</p>
              </div>
          </div>
      </div>
  </div></div>
</section></div>
</block>
<block name="script">
  <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">
  <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script> 
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
  <script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});

$(function(){
	setInterval(function(){
		$.post("__CONTROLLER__/bindLogin",{},function(res){
			if(res==1){
				window.location.href = "__ROOT__/Home/Index/index";
			}
		});
	},3000);
});
</script> 
</block>
