<ul class="tab-nav nav">
    <li class="{ vo.class}"><a href="#">{ vo.title}<span class="arrow fa fa-sort-up"></span></a></li>
  <span class="fr" style="margin:10px;"><a target="_blank" href="#"><i style="font-size:16px;" class="fa fa-question-circle"></i>查看配置教程</a></span>
</ul>
<div class="sub-tab-nav">
       <ul class="sub_tab">
           <li><a class="{ vo.class}" href="#">{ vo.title}<span class="arrow fa fa-sort-up"></span></a></li>
      </ul>
</div> 
<p class="normal_tips"><i class="fa fa-info-circle"></i> 这里是提示文字</p>