<extend file="/Wechat/View/Base/common_no_side.html"/>
<block name="body">
    <div class="wrap" style="clear:both; margin:30px auto;">
        <section class="tab-content" id="contents">

            <!-- 数据列表 -->
            <div style="overflow:hidden; zoom:1;">
                <h3 style=" float:left;margin-bottom:15px;">
                    <i class="fa fa-wechat fa-lg"></i>
                    我创建的公众号</h3>
                <div style="margin:0 0 15px 0; float:right">
                    <a class="btn" href="__CONTROLLER__/stepFirst">+新增公众号</a>
                </div>
            </div>
            <div class="data-table" style="margin:0;">
                <notempty name="list">
                    <div class="table-striped">
                        <table cellspacing="1">
                            <!-- 表头 -->
                            <thead>
                            <tr>
                                <th width="10%">公众号ID</th>
                                <th width="35%">公众号名称</th>
                                <th width="17%">Token</th>
                                <th width="38%">操作</th>
                            </tr>
                            </thead>
                            <!-- 列表 -->
                            <tbody>
                            <volist name="list" id="data">
                                <tr>
                                    <td>{$data.id}</td>
                                    <td>{$data.name}</td>
                                    <td>{$data.token}</td>
                                    <td>
                                        <a href="__MODULE__/Management/index?id={$data.id}" target="_self">进入管理</a>&nbsp;&nbsp;&nbsp;
                                        <a href="__CONTROLLER__/checkRes?id={$data.id}" target="_self">自动检测</a>&nbsp;&nbsp;&nbsp;
                                        <a href="__MODULE__/AccountAdmin/index?id={$data.id}" target="_self">管理员配置</a>&nbsp;&nbsp;&nbsp;
                                        <a href="__CONTROLLER__/stepFirst?id={$data.id}" target="_self">编辑</a>&nbsp;&nbsp;&nbsp;
                                        <a href="javascript:void(0);"
                                           onclick="do_del('{$data.id}','{$data.name}');">取消绑定</a></td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                <else />
                    <div style="padding:100px; text-align:center;">
                        <i class="fa fa-wechat fa-lg "></i> 您当前没有可管理的公众号
                    </div>
                </notempty>
            </div>
        </section>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        //搜索功能
        function do_del(id, name) {
            var msg = '您确定要 取消绑定 以下公众号吗？  ' + name;
            if (confirm(msg)) {
                $.post("__CONTROLLER__/del", {'id': id}, function () {
                    location.reload();
                });
            }
        }
    </script>
</block>