<extend file="/Wechat/View/Base/common_no_side.html"/>
<block name="body">
    <div class="wrap">
        <section id="contents">
            <div class="setting_step app_setting">
                <a class="step " href="__CONTROLLER__/stepFirst">1.增加基本信息</a>
                <a class="step step_cur" href="__CONTROLLER__/stepSecond">2.配置公众平台</a>
                <a class="step step_cur_1" href="__ACTION__">3.保存接口配置</a>
            </div>
            <div class="tab-content">
                <!-- 表单 -->
                <form class="form-horizontal bind_step_form" method="post"  id="form">
                    <!-- 基础文档模型 -->
                    <div class="tab-pane in tab1" id="tab1">
                        <div class="item_wrap">
                            <div class="form-item cf toggle-appid">
                                <label class="item-label"> AppID <span class="check-tips"> （应用ID） </span></label>
                                <div class="controls">
                                    <input type="text" name="appid" value="{$info.appid}" class="text input-large">
                                </div>
                            </div>
                            <div class="form-item cf toggle-secret">
                                <label class="item-label"> AppSecret <span class="check-tips"> （应用密钥） </span></label>
                                <div class="controls">
                                    <input type="text" name="secret" value="{$info.appsecret}" class="text input-large">
                                </div>
                            </div>
                            <div class="form-item cf toggle-encodingaeskey">
                                <label class="item-label"> EncodingAESKey <span class="check-tips"> （安全模式下必填） </span></label>
                                <div class="controls">
                                    <input type="text" name="encodingaeskey" value="{$info.encodingaeskey}" class="text input-large">
                                </div>
                            </div>
                        </div>
                        <div class="form-item cf bind_step_form_next_item">
                            <button type="button" id="submit" class="btn submit-btn ajax-post">
                                提交
                            </button>
                            <br/>
                            <p style="padding:20px 0;">配置信息遇到问题？<a href="#" target="_blank">点击查看接入指引</a>
                                &nbsp;&nbsp;
                                <a href="javascript:void(0);" id="look_help">查看帮助</a>
                                <a href="javascript:void(0);" style="display: none" id="hide_help">隐藏帮助</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="help_content" style="display: none" >
                <h3>帮助消息</h3>
                <p>以上消息可以从公众平台里找到，如下图</p>
                <p><img src="__IMG__/help04.png" ></p>
            </div>
        </section>
</block>
<block name="script">
<script type="text/javascript">
    $(function () {
        var look_help = $("#look_help");
        var help_content = $(".help_content");
        var hide_help = $("#hide_help");
        look_help.click(function () {
            help_content.css("display","");
            look_help.css("display","none");
            hide_help.css("display","");
        });
        hide_help.click(function () {
            help_content.css("display","none");
            look_help.css("display","");
            hide_help.css("display","none");
        });

        $("#submit").click(function () {
            $.post("__ACTION__",$('#form').serialize(),function (data) {
                if(data.hasOwnProperty('type') && parseInt(data.type)){
//                    location.href = '__CONTROLLER__/waitAudit';
                }else{
                    alert(data.message);
                }
            });
        });

        showTab();
    });
</script>
</block>
