<extend file="/Home/View/Base/common.html"/>
<block name="body">
  <div class="span9 page_message">
    <section id="contents">
    <include file="/Home/View/Addons/_nav.html" />
      <div class="table-bar">
      	<div class="fl">
			<div class="tools">
                <a class="btn" href="#">新 增</a>
			</div>
        </div>
        <div class="search-form fr cf">
          <div class="sleft">
            <input type="text" name="search_key" class="search-input" value="" placeholder="">
            <a class="sch-btn" href="javascript:void(0);" id="search" data-url=""><i class="btn-search"></i></a> </div>
        </div>
      </div>
      <!-- 数据列表 -->
      <div class="data-table">
        <div class="table-striped">
        	<ul class="material_list js-masonry">
                <!-- 多图文 -->
                <li class="appmsg_li">
                	<div class="appmsg_item">
                        <h6 class="ellipsis">title</h6>
                        <p class="title">cTime</p>
                        <div class="main_img">
                            <img src=""/>
                            <h6>title</h6>
                        </div>
                        <p class="desc ellipsis">intro</p>
                    </div>
                    <div class="appmsg_sub_item">
                        <p class="title ellipsis">title</p>
                        <div class="main_img">
                            <img src="" />
                        </div>
                    </div>
                    <div class="appmsg_action">
                        <a href="#">编辑</a>
                        <a href="#">删除</a>
                    </div>
                </li>
            </ul>
        </div>
      </div>
      <div class="page">分页栏</div>
    </section>
  </div>
</block>
<block name="script">
<script type="text/javascript">
    var material = {
        /**
         * data:{
         *  'item':{
         *      'title':'',
         *      'small_title':'',
         *      'img':'',
         *      'intro':''
         *  }
         *  'subitems':[
         *      {
         *          'title':'',
         *          'img':''
         *      },...
         *  ],
         *  'action':[
         *      {
         *          'title':'',
         *          'href':'',
         *          'onclick':function(){},
         *      }
         *  ]
         * }
         * @param data
         */
        create:function (data) {
            var li = soya.newElement('li.appmsg_li');
            data.hasOwnProperty('item')     && li.appendChild(this.createItem(data['item']));
            data.hasOwnProperty('subitem')  && data['subitem'].length   && li.append(this.createSubitems(data['subitem']));
            data.hasOwnProperty('action')   && data['action'].length    && li.append(this.createAction(data['action']));
            return li;
        },
        createItem:function (data) {
            var div = soya.newElement('div.appmsg_item');
            data.hasOwnProperty('title') && div.appendChild(soya.newElement('h6.ellipsis',data['title']));
            data.hasOwnProperty('small_title') && div.appendChild(soya.newElement('p.title',data['small_title']));

            var main_img = soya.newElement('div.main_img');
            var img = soya.newElement('img');img.setAttribute('src',data.img);
            var img_title = soya.newElement('h6',data['img_title']);
            main_img.appendChild(img);
            main_img.appendChild(img_title);
            div.appendChild(main_img);

            data.hasOwnProperty('intro') && div.appendChild(soya.newElement('p.desc.ellipsis',data.intro));
            return div;
        },
        createSubitems:function (data) {

        },
        createAction:function (data) {

        }
    };

    $(function(){
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('data-url');
            var title = $('.search-input').val();
            var query  = 'title='+title.trim();
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });

        //回车自动提交
        $('.search-form').find('input').keyup(function(event){
            if(event.keyCode===13){ $("#search").click();
            }
        });
    })
</script>
</block>
